{
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "es6": true,
        "node": true
    },
    "globals": {
        "it": false,
        "describe": false,
    },
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "import/prefer-default-export": 0,
    }
}
